<div class="top-login">
    <div class="top-login-left">
        <div><img src="./imgs/topcar.png" alt="">上海</div>
        <div>▼</div>
        <div>满百包邮（环郊内）</div>
        <div><a href="#">星夜达</a></div>
    </div>
    <ul class="top-login-right">
        <li>[登录]</li>
        <li>，</li>
        <li>[注册有惊喜]</li>
        <li>|</li>
        <li>果园公告</li>
        <li>|</li>
        <li>券卡兑换</li>
        <li>|</li>
        <li><img src="./imgs/phone-top.png" alt=""><span>手机果园</span></li>
    </ul>
</div>