<!--固定模块-->
<div class="modules-wrap">
    <div class="modules-title">
        <h1>全球鲜果</h1>
        <span><a href="#">更多&nbsp;>></a></span>
    </div>
    <div class="modules-list">
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
        <div class="modules-list-cell">
            <div class="cell-img">
                <img src="./imgs/f1.jpg" alt="">
            </div>
            <div class="cell-detail">
                <div class="cell-title">
                    美早樱桃（巨无霸）
                </div>
                <div class="cell-price">
                    ￥119.00/500g
                </div>
                <img src="./imgs/buy.png" alt="">
            </div>
        </div>
    </div>
</div>