<!--中部广告-->
<div class="mid-hot">
    <ul class="layui-row layui-col-space20">
        <li class="layui-col-md3">
            <img src="./imgs/hot1.jpg" alt="">
        </li>
        <li class="layui-col-md3">
            <img src="./imgs/hot2.jpg" alt="">
        </li>
        <li class="layui-col-md3">
            <img src="./imgs/hot3.jpg" alt="">
        </li>
        <li class="layui-col-md3">
            <img src="./imgs/hot4.jpg" alt="">
        </li>
    </ul>
</div>