<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<div>
		<h1>用户登录页面</h1>
		<form method="post" id="forms">
			账号: <input type="text" name="username" id="username">
			密码： <input type="text" name="password" id="password">
			<button id="subbtn" type="submit">登录</button>
		</form>
	</div>
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script>
		var btn =$("#subbtn")
		btn.click((ev)=>{
		    ev.preventDefault()
			$.ajax({
				url:'/signup',
				method:'post',
				dataType:'json',
				data:{
				    username:$("#username")[0].value,
					password:$("#password")[0].value
				},
				success:(msg)=>{
				    console.log(msg)
				},
				error(err){
				    console.log(err)
				}
			})
		    console.log(ev)
		})
	</script>
</body>
</html>