<!--轮播图-->
<div class="swiper-wrap">
    <div class="layui-carousel" id="test10">
        <div carousel-item="">
            <div>
                <img src="./imgs/nav1.jpg">
            </div>
            <div>
                <img src="./imgs/nav2.jpg">
            </div>
        </div>
    </div>
</div>