<div class="top-search-wrap">
    <div class="top-search">
        <div class="search-logo">
            <img src="./imgs/logo.svg" alt="">
        </div>
        <ul class="nav-bar">
            <li class="now-select">
                <a href="#">
                    首页<br/>
                    Home
                </a>
                <div></div>
            </li>
            <li>
                <a href="#">
                    鲜果<br/>
                    Fruit
                </a>
            </li>
            <li>
                <a href="#">
                    生鲜<br/>
                    Fresh
                </a>
            </li>
            <li>
                <a href="#">
                    礼品<br/>
                    Gift
                </a>
            </li>
            <li>
                <a href="#">
                    会员中心<br/>
                    VIP Club
                </a>
            </li>
        </ul>
        <div class="top-search-right">
            <div class="search-right-l">
                <div class="search-right-l-search">
                    <input type="text" placeholder="请输入关键字">
                    <button><img src="./imgs/search-car.png" alt=""></button>
                </div>
                <div class="search-right-l-hot">
                    热门：
                    <a href="#">橙</a>
                    <a href="#">提子</a>
                    <a href="#">樱桃</a>
                    <a href="#">苹果</a>
                </div>
            </div>
            <div class="search-right-r">
                <img src="./imgs/buycar.png" alt="">
                <span>0</span>
            </div>
        </div>
    </div>
</div>